<h2><a href="/">OMG I HAZ POKEMON</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>CP: <%= @pokemon.cp %></p>
  <p>Pokemon Species: <%= @pokemon.poke_type %></p>
  <img src="<%= @pokemon.img_url %>">
</div>


<a href='/pokemon/<%= @pokemon.id %>/edit'>Do me a switcharoo!</a>
